<style>
    body.home .main-content {
        margin-top: 23px !important
    }
    form {
        float: right;
    }
    .btn-invisible {
        background-color: white;
        color: white;
    }
</style>
<% content_for :otherbread do %>
    <%= render :partial => "breadcrumbs" %>
<% end %>

<div class="container">
  <div class="col-md-6 col-md-offset-2">
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Contact</h3>
        </div>
        <dl class="dl-horizontal">
          <dt>Id:</dt>
          <dd><%= @contact.id %></dd>

          <dt>Email address:</dt>
          <dd><%= @contact.email_address %></dd>

          <dt>First name:</dt>
          <dd><%= @contact.first_name %></dd>

          <dt>Last name:</dt>
          <dd><%= @contact.last_name %></dd>

          <dt>Company name:</dt>
          <dd><%= @contact.company_name %></dd>

          <dt>Lists:</dt>
          <dd><%= @contact.lists.include?('3') ? 'Master List' : @contact.lists.empty? ? 'None' : @contact.lists.join(",") %></dd>
        </dl>

      </div>

    </div>
    <div class="row">
      <div class="button-group pull-right horiz-buttons">
        <ul>
          <li>
            <%= button_to spree.root_path, method: :get, class: 'btn btn-success' do %>
                <i class="glyphicon glyphicon-usd"></i> Shop
            <% end %>
          </li>
          <li  style="max-width: 5px; overflow: hidden">
            <%= button_to '#', method: :get, class: 'btn btn-invisible' do %>
            <% end %>
          </li>
          <li>
            <%= button_to edit_contact_path(@contact), method: :get, class: 'btn btn-primary' do %>
                <i class="glyphicon glyphicon-edit"></i> Edit
            <% end %>
          </li>

        </ul>
      </div>
    </div>
  </div>

</div>
