<h1><%= accurate_title %></h1>

<div data-hook="account_summary" class="account-summary well">
  <dl id="user-info">
    <dt><%= Spree.t(:email) %></dt>
    <dd><%= @user.email %> (<%= link_to Spree.t(:edit), spree.edit_account_path %>)</dd>
  </dl>
  <dl id="mailing-list-info">
    <dt>Mailing Lists</dt>
    <dd>Master List: <% if @contact && @contact.in_list?(3) %>
                         Subscribed
                    <% else %>
                         Not Subscribed
                    <% end %>
      <%= form_for(@contact, url: '/contacts', html: { class: "form-horizontal", role: "form" }) do |f| %>
          <% if @contact.errors.any? %>
              <div class="alert alert-danger alert-dismissable" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h4>

                <ul>
                  <% @contact.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                  <% end %>
                </ul>
              </div>
          <% end %>
          <div class="form-group">
            <%= f.label :email_addresses, class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
              <%= f.text_field :email_address, value: @user.email, disabled: true, class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :first_name, class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
              <%= f.text_field :first_name, class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :last_name, class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
              <%= f.text_field :last_name, class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :company_name, class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
              <%= f.text_field :company_name, class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <%= f.submit class: "btn btn-primary" %>
            </div>
          </div>
      <% end %>

    </dd>
  </dl>
</div>

<div data-hook="account_my_orders" class="account-my-orders">

  <h3><%= Spree.t(:my_orders) %></h3>
  <% if @orders.present? %>
    <table class="table table-striped order-summary">
      <thead class="active">
      <tr>
        <th class="order-number"><%= Spree::Order.human_attribute_name(:number) %></th>
        <th class="order-date"><%= Spree.t(:date) %></th>
        <th class="order-status"><%= Spree.t(:status) %></th>
        <th class="order-payment-state"><%= Spree.t(:payment_state) %></th>
        <th class="order-shipment-state"><%= Spree.t(:shipment_state) %></th>
        <th class="order-total"><%= Spree.t(:total) %></th>
      </tr>
      </thead>
      <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td class="order-number"><%= link_to order.number, order_url(order) %></td>
          <td class="order-date"><%= l order.completed_at.to_date %></td>
          <td class="order-status"><%= Spree.t("order_state.#{order.state}").titleize %></td>
          <td class="order-payment-state"><%= Spree.t("payment_states.#{order.payment_state}").titleize if order.payment_state %></td>
          <td class="order-shipment-state"><%= Spree.t("shipment_states.#{order.shipment_state}").titleize if order.shipment_state %></td>
          <td class="lead text-primary order-total"><%= order.display_total %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% else %>
    <div class="alert alert-info"><%= Spree.t(:you_have_no_orders_yet) %></div>
  <% end %>
  <br />

</div>
