<footer id="footer" class="footer-container">

  <div class="container">

    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 footer-column about">
        <div class="footer-logo">
        <%= image_tag "logo_footer.png", alt: "Artistic Ribbon", class: "img-responsive" %>
        </div>
        <h5>About</h5>
        <p>Artistic Ribbon has been serving thousands of manufacturers, distributors and mass merchandisers internationally since 1928. <a href="/why_shop/about_us" target="_blank">Read more...</a></p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 footer-column">
        <h5>News &amp; Info</h5>
        <ul>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Shipping Info</a></li>
          <li><a href="#">Returns</a></li>
          <li><a href="#">F.A.Q.</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 footer-column">
        <h5>Important Links</h5>
        <ul>
          <!-- <li><a href="#">Register / Login</a></li> -->
          <% if spree_current_user %>
              <li>
                <%= link_to '<span class="fa fa-user"></span> My Account'.html_safe, spree.account_path %> /
                <%= link_to Spree.t(:logout), spree.logout_path %>
              </li>
          <% else %>
              <li>
                <%= link_to "Register ", spree.signup_path %>/
                <%= link_to ' Login '.html_safe, spree.login_path %></li>

              </li>

          <% end %>


          <li><a href="/site/contact_us">Contact</a></li>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Terms of Use</a></li>
          <li><a href="/contacts/new">Mailing List</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 footer-column">
        <h5>Contact</h5>
        <div class="vcard">
          <p class="adr">
            <span class="who">Artistic Ribbon, Inc.</span><br/>
            <span class="street-address">22 W. 21st Street</span><br/>
            <span class="city-state-zip">New York, NY 10010</span>
          </p>
          <p class="tel">T:  212-255-4224</p>
          <p class="fax">F:  212-645-6589</p>
          <p class="email">E:  <a href="mailto:info@artisticribbon.com">info@artisticribbon.com</a></p>
        </div>
      </div>
    </div>

  </div>

  <section class="bottombar">
    <div class="container">
      <div class="row-x">
        <div class="copyright col-lg-6 col-md-6 col-sm-12 col-xs-12">&copy; 2015 Artisitc Ribbon. All rights reserved. Web design by Design House.</div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <ul>
            <li class="connect"><a href="#">Connect With Us!</a></li>
            <li><a href="//pinterest.com/artisticribbon" target="_blank"><span class="fa fa-pinterest"></span></a></li>
            <li><a href="//www.facebook.com/pages/Artistic-Ribbon-Inc/192678021022?ref=search&sid=539378516.1359065251..1" target="_blank"><span class="fa fa-facebook-official"></span></a></li>
            <li><a href="//twitter.com/ArtisticRibbon" target="_blank"><span class="fa fa-twitter"></span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>



</footer>