<section class="topbar">
  <div class="container">
    <ul>
      <li class="connect"><a href="#">Connect With Us!</a></li>
      <li><a href="//pinterest.com/artisticribbon" target="_blank"><span class="fa fa-pinterest"></span></a></li>
      <li><a href="//www.facebook.com/pages/Artistic-Ribbon-Inc/192678021022?ref=search&sid=539378516.1359065251..1" target="_blank"><span class="fa fa-facebook-official"></span></a></li>
      <li><a href="//twitter.com/ArtisticRibbon"><span class="fa fa-twitter"></span></a></li>
    </ul>
  </div>
</section>

<nav class="navbar navbar-default navbar-ar">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand-logo" href="/">
        <%= image_tag 'logo_caption.png', class: "img-responsive large-logo", alt: "Artistic Ribbon" %>
        <%= image_tag 'logo.png',class: "img-responsive small-logo" ,alt: "Artistic Ribbon" %>
      </a>
    </div>

    <div class="navbar-collapse collapse">

      <div class="col-lg-12">

        <ul class="nav navbar-nav navbar-right mini-nav-right" id="mini-nav">
          <% if spree_current_user %>
              <li class="my-account">
                <%= link_to '<span class="fa fa-user"></span> My Account'.html_safe, spree.account_path %></li>
              <li><%= link_to Spree.t(:logout), spree.logout_path %></li>
          <% else %>
              <li id="my-account link-to-login">
                <%= link_to '<span class="fa fa-user"></span> Login '.html_safe, spree.login_path %></li>
              <li><a href="#">|</a></li>
              <li id="link-to-login">
                <%= link_to "Register", spree.signup_path %></li>
           <% end %>
          <li id="link-to-cart" data-hook>
            <noscript>
              <%= link_to Spree.t(:cart), '/cart' %>
            </noscript>
            &nbsp;
          </li>
          <script>Spree.fetch_cart()</script>
        <!--
          <li class="my-account"><a href="#"><span class="fa fa-user"></span> My Account</a></li>
          <li><a href="#">Login</a></li>
          <li><a href="#">Register</a></li>
        -->
        </ul>

      </div>

      <div class="col-lg-12">

        <ul class="nav navbar-nav navbar-right main-nav-right" id="main-nav">
          <li class="nav-home active"><%= link_to Spree.t(:home), spree.root_path %></li>
          <li class="nav-ribbons"><a href="/t/categories/ribbons">Ribbons</a></li>
          <li class="nav-new-items"><a href="/products?for_new_arrivals=true&per_page=30">New Items</a></li>
          <li class="nav-specials"><a href="/t/categories/wholesale-ribbon">Specials</a></li>
          <li class="nav-featured"><a href="/t/tags/featured">Featured</a></li>
          <li class="nav-featured"><a href="//www.artisticribbon.com/blog">Blog</a></li>

        </ul>

      </div>

    </div>
    <!--/.nav-collapse -->
  </div>
</nav>


<section class="quick-search">
    <div class="container">
        <div class="row art-src-div">
          <div class="row hidden-md hidden-lg">
            <div class="nav-search col-sm-12 col-xs-12 mbl">
              <form class="navbar-form navbar-left mobile-src-frm" action="/products" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓">
                <div id="search">
                  <input type="search" name="keywords" id="keywords" placeholder="Search" class="input-md">
                  <button type="submit">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
              </form>
            </div>
          </div>


          <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 promo-div-displ">
            <span class='promo-text'><%=get_promotion_and_display%></span>
          </div>
          <div class="col-lg-4 col-md-4 hidden-xs hidden-sm">
              <form class="navbar-form navbar-left src-form" action="/products" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓">
                <div id="search">
                  <input type="search" name="keywords" id="keywords" placeholder="Search" class="input-md">
                  <button type="submit">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
              </form>
          </div>
        </div>
    </div>
</section>

<!--
    <div class="alert alert-danger " role="alert" style="background-color: rgba(255, 182, 193, 0.22)">
      <div class="row">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-8 holiday_mess" style="display: none; font-style: italic;">
          Artistic Ribbon's offices will be closed on Wednesday September 23rd and will reopen at 8AM on Thursday September 24th. All internet orders will be processed and shipped on Thursday, September 24th.
        </div>
        <div class="col-lg-2">
        </div>
      </div>
    </div>
-->