

  <div id="homepage-carousel" class="carousel slide" data-interval="false">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#homepage-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#homepage-carousel" data-slide-to="1"></li>
      <li data-target="#homepage-carousel" data-slide-to="2"></li>
      <li data-target="#homepage-carousel" data-slide-to="3"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <a href="/t/categories/ribbons/grosgrain">
            <%=image_tag "homepage/ban-slide1.jpg", alt: "", class: "img-responsive" %>
        </a>
        <div class="carousel-caption">
          <h3>Grosgrain</h3>
          <p>Grosgrain Items.</p>
        </div>
      </div>
      <div class="item">
        <a href="#" >
            <%=image_tag "homepage/ban-slide2.jpg", alt: "", class: "img-responsive"  %>
        </a>
        <div class="carousel-caption">
          <h3>Disney Frozen</h3>
          <p></p>
        </div>
      </div>
      <div class="item">
        <a href="/show_new_flowers" >
            <%=image_tag "homepage/ban-slide3.jpg", alt: "", class: "img-responsive"  %>
        </a>
        <div class="carousel-caption">
          <h3>Flowers</h3>
          <p></p>
        </div>
      </div>
      <div class="item">
        <a href="/why_shop/custom" >
          <%=image_tag "homepage/ban-slide4.jpg", alt: "", class: "img-responsive"  %>
        </a>
        <div class="carousel-caption">
          <h3>Custom Work</h3>
          <p></p>
        </div>
      </div>
    </div>
    <!-- Controls -->
    <a class="left carousel-control fui-arrow-left" href="#homepage-carousel" data-slide="prev"></a>
    <a class="right carousel-control fui-arrow-right" href="#homepage-carousel" data-slide="next" id="next_slide"></a>
  </div>

  <%= render partial: 'spree/shared/ideas' %>