

  <div id="homepage-carousel" class="carousel slide" data-interval="false">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#homepage-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#homepage-carousel" data-slide-to="1"></li>
      <li data-target="#homepage-carousel" data-slide-to="2"></li>
      <li data-target="#homepage-carousel" data-slide-to="3"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <a href="/t/categories/ribbons/grosgrain">
            <%=image_tag "homepage/ban-slide1.jpg", alt: "", class: "img-responsive" %>
        </a>
        <div class="carousel-caption">
          <h3>Grosgrain</h3>
          <p>Polyester Grosgrain has become the world's most popular woven ribbon due to its durability and elegance..</p>
        </div>
      </div>
      <div class="item">
        <a href="/t/categories/ribbons/disney/frozen" >
            <%=image_tag "homepage/Frozen2light.jpg", alt: "", class: "img-responsive"  %>
        </a>
        <div class="carousel-caption">
          <h3>Disney Frozen</h3>
          <p>Disney Frozen Ribbons available at Artistic Ribbon as a limited exclusive outlet</p>
        </div>
      </div>
      <div class="item">
        <a href="/products?for_new_flowers=true&per_page=30" >
            <%=image_tag "homepage/ban-slide3.jpg", alt: "", class: "img-responsive"  %>
        </a>
        <div class="carousel-caption">
          <h3>Flowers</h3>
          <p>Our artificial flowers are a convenient and super trendy way to accessorize your garment, hair bow, packaging or stationery product...</p>
        </div>
      </div>
      <div class="item">
        <a href="/why_shop/custom" >
          <%=image_tag "homepage/ban-slide4.jpg", alt: "", class: "img-responsive"  %>
        </a>
        <div class="carousel-caption">
          <h3>Custom Work</h3>
          <p>Customize your logo, create your custom color or new stripe.. We cut to size, make bows and create the ideal packaging designs..</p>
        </div>
      </div>
    </div>
    <!-- Controls -->
    <a class="left carousel-control fui-arrow-left" href="#homepage-carousel" data-slide="prev"></a>
    <a class="right carousel-control fui-arrow-right" href="#homepage-carousel" data-slide="next" id="next_slide"></a>
  </div>

  <%= render partial: 'spree/shared/ideas' %>