<div class="col-lg-12">
  <div class="jcarousel-wrapper">
    <div class="headline"><h3><%= section_name %></h3></div>
    <div class="jcarousel <%=ref%>" id="<%=ref%>">
      <ul>
        <% if ref == 'new-arrivals' %>
            <% products.each do |product| %>
                <li style="width: 174px">
                  <% url = product_url(product, :taxon_id => @taxon.try(:id))  %>
                  <%= link_to product_image(product, :itemprop => "image",class: "img-responsive",width: '148px', height: '148px'), url, :itemprop => 'url',
                              title: product.name %>
                </li>
            <% end %>
        <% else %>
            <% products.each do |product| %>
                <li>
                  <%
                     taxon = product.cat_taxon
                    next if taxon.nil?
                  %>

                  <% url = "/t/#{taxon.permalink}" %>
                  <%= link_to image_tag(taxon.icon(:normal), :itemprop => "image",class: "img-responsive",width: '148px', height: '148px'), url, :itemprop => 'url',
                              title: taxon.name%>
                </li>
            <% end %>
        <% end %>

      </ul>
    </div>

    <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
    <a href="#" class="jcarousel-control-next">&rsaquo;</a>

    <p class="jcarousel-pagination"></p>
  </div>

</div>