<div class="container">
  <div class="row">
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">

      <div class="row">
        <div class="col-lg-12">
          <ol class="breadcrumb">
            <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
              <span itemprop="title"><a itemprop="url" href="/">Home</a></span>
            </li>
            <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"
                style="  width: 200px;">
              <span itemprop="title"><a itemprop="url" href="/why_shop/custom">Custom Work At Artistic</a></span>
            </li>
            <li class = 'active' itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"
                style="  width: 200px;">
              <span itemprop="title">Custom Bows</span>
            </li>
          </ol>
        </div>
      </div>

      <table style="  width: 100%;">
        <tr>
          <td>
            <a name="service"></a>
            <h4>CUSTOM BOWS</h4>
          </td>
        </tr>

        <tr>
          <td>

          </td>
        </tr>
      </table>
      <div class="container">
        <div class="row">
          <div class="line-separator2"></div>
          <div class="col-sm-8">
            <p>Artistic prides itself in craftsmanship when it comes to our custom made bows.  Made to your specifications, our bows can also include double sided stick tabs, twist ties, and rubber bands for attaching to your products.  We can make them out of any of our ribbons: solids, dots, plaids, etc.  All custom bows must be ordered in multiples of the minimum quantity. Call us now to place your order: (212) 255-4224.</p>
          </div>
          <div class="col-sm-4">
            <%= image_tag "custom_bow/image.jpg", width: "100%"%>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <h6>Sample Custom Combinations</h6>
            <div class="col-sm-4"> <a href="#"><%= image_tag 'custom_bow/sample1.jpg', width: "100%" %></a> <p>1016-5/8-030 - Single Face Satin
              (plus stick tab.)</br> 5/8” x 12”
              $2.20/dzn - min 25 dozen</p></div>
            <div class="col-sm-4"> <a href="#"> <%= image_tag "custom_bow/sample4.jpg", width: "100%" %></a><p>1016-5/8-175 - Single Face Satin
              (plus stick tab.)</br>5/8” x 12”
              $2.20/dzn - min 25 dozen</p></div>
            <div class="col-sm-4"><a href="#"><%= image_tag "custom_bow/sample2.jpg", width: "100%" %></a><p>1016-7/8-250 - Single Face Satin
              7/8” x 17”
              $2.65/dzn - min 17 dozen</p></div>
            <div class="col-sm-4"><a href="#"><%= image_tag "custom_bow/sample3.jpg", width: "100%" %></a><p>3906-5/8-580 - Swiss Dot
              </br>5/8” x 10
              $2.85/dzn - min 30 dozen</p></div>
            <div class="col-sm-8"><a href="#"> <%= image_tag "custom_bow/sample5.jpg", width: "100%" %></a><p>13-6758-11/2-311 - Lady Chiffon Mary Jane Tails
              11/2” x 16”
              $4.25/dzn - min 18 dozen</p> </div>
          </div>
        </div>
      </div>


    </div>


  </div>
</div>