<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">

  <style>

  </style>

  <div class="row">
    <div class="col-lg-12">
      <ol class="breadcrumb">
        <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
          <span itemprop="title"><a itemprop="url" href="/">Home</a></span>
        </li>
        <li class = 'active' itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"
            style="  width: 200px;">
          <span itemprop="title">Custom Work At Artistic</span>
        </li>
      </ol>
    </div>
  </div>

  <table style="  width: 130%;">
    <tr>
      <td>
        <a name="service"></a>
        <h4>LOGO PRINTING ON RIBBON</h4><br>

        <span style="  color: #bdc3c7;"></span>
      </td>
    </tr>
    <tr>
      <td>
        <div class="line-separator"></div>
      </td>
    </tr>

    <tr>
      <td class="format_td">
        Put Your Logo On Ribbon. A Great Marketing Tool for packaging your products.
        Most Retailers are using custom printed logos on ribbon to gift wrap or package their items, and
        for displays and advertising. This is a colorful addition to any product and will implant your company
        name in the mind of your customers. It creates a unique & elegant look for your product, and
        can be applied to almost any type of packaging, including handles on a shopping bag.
        <br>
        As a supplier of commercial ribbon printing services, be advised that we do require a minimum
        order commitment of one thousand yards for most print methods and a three-thousand yard minimum
        for heat transfer printing.
        <br>
        Most of our custom ribbon logo printing is done on single or double faced satin to provide the best
        coverage. We can also print on grosgrain & sheer ribbon. Inks can be matched to Pantone colors,
        as well as standard colors.
        <br>
        There is a one time charge to create a printing plate. Artwork must be supplied on a clean "black &
        white" copy, properly sized and showing step and repeat. Artwork that is supplied on disk or
        electronically also must be sized exactly to be printed showing all repeats, in high resolution. For
        multiple color print jobs colors must be separated.
        <br>
        Our custom printing specialists will be pleased to discuss our various printing services with you.
        <br>
        <br>
        See “Custom Printing Information” for our various print methods.
      </td>
      <td class="format_td">
        <%= image_tag "homepage/customprinting.jpg",width: '300px',height: '214px'  %>
      </td>
    </tr>

    <tr>
      <td height="100">&nbsp;</td>
    </tr>

    <tr>
      <td>
        <a name="service"></a>
        <h4>CUSTOM COLOR DYES</h4><br>

        <span style="  color: #bdc3c7;"></span>
      </td>
    </tr>
    <tr>
      <td>
        <div class="line-separator"></div>
      </td>
    </tr>

    <tr>
      <td class="format_td">
        We can dye to match any color you may be using for your products. Custom dyed colors require a
        minimum order of 3,000 yards for widths 1/4” – 7/8”, and 2,000 yards for widths 1 1/2” – 2 1/4”
      </td>
      <td class="format_td">
        <%= image_tag "homepage/customdye.jpg",width: '300px',height: '214px'  %>
      </td>
    </tr>


    <tr>
      <td height="100">&nbsp;</td>
    </tr>


    <tr>
      <td>
        <a name="service"></a>
        <h4>CUSTOM & PRECISION STRIP CUTTING</h4><br>

        <span style="  color: #bdc3c7;"></span>
      </td>
    </tr>
    <tr>
      <td>
        <div class="line-separator"></div>
      </td>
    </tr>

    <tr>
      <td class="format_td">
        Any ribbon we sell can be cut to your specifications by our professional strip cutting service. Using
        a hot knife to seal the edges, all strips are cut either straight edge or on a bias (angle), and packaged
        to your specifications. Bias cut strips are measured from short to long points. This is a fast
        and high quality service we provide at a small cost in order to fulfill our customer’s cutting needs.
        <br>
        <br>
        <a href="<%= image_path('homepage/custom_ribbon.jpg') %>" target="_blank">
          Click here for measurement instructions
        </a>

      </td>
      <td class="format_td">
        <%= image_tag "homepage/linecutting.jpg",width: '300px',height: '214px'  %>
      </td>
    </tr>

    <tr>
      <td height="100">&nbsp;</td>
    </tr>


    <tr>
      <td>
        <a name="service"></a>
        <h4><%=link_to 'CUSTOM BOWS','/page/custom_bows'%></h4><br>

        <span style="  color: #bdc3c7;"></span>
      </td>
    </tr>
    <tr>
      <td>
        <div class="line-separator"></div>
      </td>
    </tr>

    <tr>
      <td class="format_td">
        Our custom “made to order” bows can be produced from any pattern of ribbon we sell. Accessories
        such as a twist tie, double sided stick tape, or rubber bands can be placed on the back of the
        knot for adherence to your product. When you call, give us the exact measurements for the
        “head” of the bow, which is measured across the loops from one end to the other, and the “tail” of
        the bow, measured from the knot down to the longest point of one of the tails. We offer both hand
        tied and machine tied bows. Hand tied bows have a minimum order of 25 dozen per pattern. Machine
        tied bows, in a variety of smaller sizes, are pre-packaged in 5 gross bags.
      </td>
      <td class="format_td">
        <%=link_to(image_tag("homepage/roses.jpg",width: '300px',height: '214px'),'/page/custom_bows')%>
      </td>
    </tr>
    <tr>
      <td>
        <a href='/page/custom_bows' target="_blank">
          Click here for samples.
        </a>
      </td>

    </tr>
  </table>



</div>

