<div class="container">

    <div class="row">
        <%= render partial: 'spree/shared/side_search' %>
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <%= render partial: 'spree/shared/homepage_slider' %>

        <div class="row">
          <%= render partial: 'spree/shared/featured_items' %>
        </div>
        <div class="row">
          <%= render partial: 'spree/shared/new_arrivals' %>
        </div>
        <%= render partial: 'spree/shared/why_shop' %>
      </div>
    </div>

</div>
