<div class="container">

    <div class="row">
        <%= render partial: 'spree/shared/side_search' %>
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <%= render partial: 'spree/shared/homepage_slider' %>

        <div class="row">
          <%# render partial: 'spree/shared/featured_items' %>
          <% feat_products = featured_products %>
          <%= render partial: 'spree/shared/product_carousel',locals: {products: feat_products,
            section_name: 'Featured Items',ref: 'featured-items' } %>
        </div>
        <div class="row">
          <%# render partial: 'spree/shared/new_arrivals' %>
          <% new_products = new_arrivals(16) %>
          <%= render partial: 'spree/shared/product_carousel',locals: {products: new_products,
            section_name: 'New Arrivals',ref: 'new-arrivals' } %>

        </div>
        <%= render partial: 'spree/shared/why_shop' %>
      </div>
    </div>

</div>
